@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

/*ACÁ COMIENZA HEADER*/
.header {
  background-image: url("../img/header__img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header__conteiner {
    display: flex;
    justify-content: end; }
  .header__items {
    justify-content: end;
    align-items: center;
    margin-right: 2rem; }
  .header__nav {
    color: white;
    text-shadow: 5px 0 20px black;
    font-size: larger; }
  .header__logo {
    height: 5rem; }
  .header__title {
    font-size: 4em;
    text-shadow: 5px 0 20px black;
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive; }

/*ACÁ TERMINA HEADER*/
.footer {
  display: flex;
  justify-content: center; }
  .footer__registrada {
    font-weight: bold;
    width: 100%;
    height: 3rem;
    text-align: center;
    box-shadow: 5px 0 20px black;
    padding-top: 0.75rem; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .hero__title {
    text-align: center;
    font-family: 'Permanent Marker', cursive; }
  .hero__boxcontainer {
    display: flex;
    gap: 3rem;
    margin: 3rem 1rem 5rem 1rem;
    overflow: hidden; }
  .hero__box {
    border: 1px solid black;
    border-radius: 20px;
    height: 21rem;
    width: 15rem;
    position: relative;
    overflow: hidden; }
    .hero__box:hover .hero__boxhover {
      transform: translateX(0%);
      color: white; }
  .hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px; }
  .hero__boxtitle {
    text-align: center; }
  .hero__boxhover {
    position: absolute;
    background: #949c9d94;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 1s;
    cursor: pointer; }

.header__ingredients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/header_ingredients.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 95vh;
  position: relative; }

.header__conteiner {
  display: flex;
  justify-content: end; }

.header__items {
  justify-content: end;
  align-items: center;
  margin-right: 2rem; }

.header__nav {
  color: white;
  text-shadow: 5px 0 20px black;
  font-size: larger; }

.header__logo {
  height: 5rem; }

.header__title {
  font-size: 4em;
  text-shadow: 5px 0 20px black;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', cursive; }

.header__wave {
  bottom: 0;
  position: absolute; }

/*ACÁ TERMINA HEADER*/
.ingredients {
  margin: 5rem; }
  .ingredients__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em; }
  .ingredients__ingresados-success {
    box-shadow: 0 0 3px 4px lightgrey;
    width: 100%;
    border: 1px solid black;
    height: 3rem;
    border-radius: 20px;
    background-color: #6fff4bb7;
    text-align: center;
    font-family: fangsong;
    font-size: large;
    padding: 10px; }
  .ingredients__ingresados-error {
    box-shadow: 0 0 3px 4px lightgrey;
    width: 100%;
    color: white;
    border: 1px solid black;
    height: 3rem;
    border-radius: 20px;
    background-color: #e22626b7;
    text-align: center;
    font-family: fangsong;
    font-size: large;
    padding: 10px; }
  .ingredients__label {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive; }
  .ingredients__input {
    width: 40%; }
  .ingredients__ingresados {
    margin: 2.5em;
    text-align: center; }
  .ingredients__table {
    width: 40%;
    text-align: center;
    margin: auto; }
  .ingredients__btneliminar {
    border: none;
    text-align: center; }
  .ingredients__recipe {
    margin: 2.5em;
    text-align: center; }
  .ingredients__recipetb {
    width: 40%;
    text-align: center;
    margin: auto; }

/*AQUI COMIENZA RANDOM PICK*/
.header__random {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/img/header_random.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 95vh;
  position: relative; }

/*AQUÍ TERMINA RANDOM PICK*/
.random__div {
  border: solid 1px black;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.95);
  border-radius: 20px;
  border: 1px solid black;
  border-radius: 20px;
  height: 30rem;
  width: 20rem;
  margin: 10rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/randombox_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; }

.random__div:hover {
  transition: transform 1.5s ease-in-out;
  transform: scale(1.1); }

.random__title {
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 2.5em; }

/*  utilities
    reset
    layouts
    views
    responsive
*/
