@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

/*ACÁ COMIENZA HEADER*/
.header {
  background-image: url("../img/header__img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header__conteiner {
    display: flex;
    justify-content: end; }
  .header__items {
    justify-content: end;
    align-items: center;
    margin-right: 2rem; }
  .header__nav {
    color: white;
    text-shadow: 5px 0 20px black;
    font-size: larger; }
  .header__logo {
    height: 5rem; }
  .header__title {
    font-size: 4em;
    text-shadow: 5px 0 20px black;
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive; }

/*ACÁ TERMINA HEADER*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .hero__title {
    text-align: center;
    font-family: 'Permanent Marker', cursive; }
  .hero__boxcontainer {
    display: flex;
    gap: 3rem;
    margin: 3rem 1rem 5rem 1rem;
    overflow: hidden; }
  .hero__box {
    border: 1px solid black;
    border-radius: 20px;
    height: 21rem;
    width: 15rem;
    position: relative;
    overflow: hidden; }
    .hero__box:hover .hero__boxhover {
      transform: translateX(0%);
      color: white; }
  .hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px; }
  .hero__boxtitle {
    text-align: center; }
  .hero__boxhover {
    position: absolute;
    background: #949c9d94;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 1s;
    cursor: pointer; }
