.header{
    &__ingredients{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url("../img/header_ingredients.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        width: 100%;
        height: 95vh;
        position: relative;
    }
    &__conteiner{
        display: flex;
        justify-content: end;
    }
    &__items{
        justify-content: end;
        align-items: center;
        margin-right: 2rem;
    }
    &__nav{
        color: white; 
        text-shadow: 5px 0 20px black;
        font-size: larger;       
    }
    &__logo{
        height: 5rem;
    }
    &__title{
        font-size: 4em;
        text-shadow: 5px 0 20px black;
        text-align: center;
        color: white;
        font-family: 'Permanent Marker', cursive;
    }
    &__wave{
        bottom: 0;
        position: absolute;
    }
   
}
/*ACÁ TERMINA HEADER*/
.ingredients{
    margin: 5rem;
    &__hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
    &__ingresados-success {
        box-shadow: 0 0 3px 4px lightgrey;
        width: 100%;
        border: 1px solid black;
        height: 3rem;
        border-radius: 20px;
        background-color: #6fff4bb7;
        text-align: center;
        font-family: fangsong;
        font-size: large;
        padding: 10px;
    }
    &__ingresados-error {
        box-shadow: 0 0 3px 4px lightgrey;
        width: 100%;
        color: white;
        border: 1px solid black;
        height: 3rem;
        border-radius: 20px;
        background-color: #e22626b7;
        text-align: center;
        font-family: fangsong;
        font-size: large;
        padding: 10px;
    }
    &__label{
        font-size: 2rem;
        font-family: 'Permanent Marker', cursive;
    }
    &__label em{
        font-size: 1rem;
        font-family: 'Permanent Marker', cursive;
        
    }
    &__input{
        width: 40%;
    }
    &__ingresados{
        margin: 2.5em; 
        text-align: center;       
    }
    &__table{
        width: 40%;
        text-align: center;
        margin: auto;
    }
    &__btneliminar{
        border: none;
        text-align: center;
    }
    &__recipe{
        margin: 2.5em; 
        text-align: center;       
    }
    &__card{
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 4px 21px 1px rgba(0, 0, 0, 0.5);
        margin: 2rem 1rem;
        text-align: center;
        height: 25rem;
    }
}