.header{
    &__ingredients{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url("../img/header_ingredients.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        width: 100%;
        height: 95vh;
        position: relative;
    }
    &__conteiner{
        display: flex;
        justify-content: end;
    }
    &__items{
        justify-content: end;
        align-items: center;
        margin-right: 2rem;
    }
    &__nav{
        color: white; 
        text-shadow: 5px 0 20px black;
        font-size: larger;       
    }
    &__logo{
        height: 5rem;
    }
    &__title{
        font-size: 4em;
        text-shadow: 5px 0 20px black;
        text-align: center;
        color: white;
        font-family: 'Permanent Marker', cursive;
    }
    &__wave{
        bottom: 0;
        position: absolute;
    }
   
}
/*ACÁ TERMINA HEADER*/
.ingredients{
    margin: 5rem;
    &__hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
    &__label{
        font-size: 2rem;
        font-family: 'Permanent Marker', cursive;
    }
    &__input{
        width: 40%;
    }
    &__ingresados{
        margin: 2.5em; 
        text-align: center;       
    }
    &__table{
        width: 40%;
        text-align: center;
        margin: auto;
    
    }
    &__btneliminar{
        border: none;
        text-align: center;
    }
}