
/*AQUI COMIENZA RANDOM PICK*/
.header{
    &__random{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url("/img/header_random.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        width: 100%;
        height: 95vh;
        position: relative;
    }
}

/*AQUÍ TERMINA RANDOM PICK*/
.random{
    &__div{
        border: solid 1px black;
        box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.95);
        border-radius: 20px;
        border: 1px solid black;
        border-radius: 20px;
        height: 30rem;
        width: 20rem;
        margin: 10rem auto;
        display: flex;        
        align-items: center;
        justify-content: center;
        background-image: url("/img/randombox_img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    &__div:hover{
        transition: transform 1.5s ease-in-out;
        transform: scale(1.1);
    }
    &__title{
        font-family: 'Permanent Marker', cursive;
        color: white;
        font-size: 2.5em;
    }
    &__ingredients{
        text-align: justify;
    }
}